.navbar {
  position: absolute;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  font-size: 21px;
  z-index: 1;

  .navbar-brand img {
    height: 60px;
  }

  .nav-link.active {
    color: #22BDE1;
  }

  .dropdown-item {
    cursor: pointer;
    color: #555;
  }

  .status {
    font-size: 11px;
    animation: flash linear 4s infinite;
  }

}

@keyframes flash {
  0% { opacity: 1; }
  50% { opacity: .1; }
	100% { opacity: 1; }
}