<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <a class="navbar-brand mr-5" routerLink="/home">
    <img src="assets/logo-color.png" class="d-inline-block align-top" alt="" />
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item mx-2">
        <a class="nav-link" routerLink="/home" routerLinkActive="active"><i class="fas fa-home mr-2"></i>Overview</a>
      </li>
      <li class="nav-item mx-2">
        <a class="nav-link" routerLink="/transactions" routerLinkActive="active"><i class="fas fa-list-alt mr-2"></i>Transactions</a>
      </li>
      <li class="nav-item mx-2">
        <a class="nav-link" routerLink="/contacts" routerLinkActive="active"><i class="fas fa-address-book mr-2"></i>Contacts</a>
      </li>
      <li class="nav-item mx-2">
        <a class="nav-link" routerLink="/transfers" routerLinkActive="active"><i class="fas fa-paper-plane mr-2"></i>Transfers</a>
      </li>
      <li class="nav-item mx-2 dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
          More
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" ngbDropdownMenu>
          <a class="dropdown-item" routerLink="/payments" routerLinkActive="active">Payment Schedule</a>
          <a class="dropdown-item" routerLink="/markets" routerLinkActive="active">Market / Price</a>
          <a class="dropdown-item" routerLink="/mining" routerLinkActive="active">CPU Mining</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/wallet" routerLinkActive="active"><i class="fas fa-credit-card mr-2"></i>Wallet</a>
          <a class="dropdown-item" routerLink="/settings" routerLinkActive="active"><i class="fas fa-cog mr-2"></i>Settings</a>
          <a class="dropdown-item" (click)="logout()"><i class="fas fa-power-off text-danger mr-2"></i>Logout</a>
        </div>
      </li>
    </ul>

    <div class="status mx-2" [class.text-success]="!isOffline" [class.text-danger]="isOffline">
      <span class="fa-stack fa-2x">
        <i class="fas fa-square fa-stack-2x"></i>
        <i class="fas fa-plug fa-stack-1x fa-inverse"></i>
      </span>    
    </div>

  </div>

</nav>