.navbar {
  position: absolute;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  font-size: 18px;
  z-index: 1;

  .navbar-brand img {
    height: 90px;
  }

  .active {
    color: #0073dd;
  }

}