.container-fluid {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background: url(../../../assets/default.gif) repeat 0 0;
  background-color: #091b26;
  animation: 30s linear 0s normal none infinite animate;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(19, 32, 44, 0.8), rgba(14, 41, 66, 0.4));
  }

  .navbar {
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    font-size: 20px;

    .navbar-brand img {
      height: 95px;
    }

  }

  .card {
    background: rgba(255, 255, 255, 0.12);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3 cubic-bezier(0.25, 0.8, 0.25, 1);
  
    &:hover {
      box-shadow: 0 10px 16px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
      transform: scale(1.03);
    }

    .card-body {
      .card-title {
        font-size: 1.9rem;
        color: #ccc;
      }

      .card-subtitle {
        font-size: 3.8rem;
        color: #fff;
      }

      .card-text {
        font-size: 1.4rem;
        color: #ccc;
      }

    }

  }

  .list-group-item.sent {
    border-left: 8px solid #007bff;
  }

  .list-group-item.received {
    border-left: 8px solid #28a745;
  }

}

@keyframes animate {
  from { background-position: 0 0; }
  to { background-position: 500px 0; }
}
