<div class="container-fluid vh-center">
  <div class="content">

    <!-- Begin Page Content -->
    <div class="row mx-auto">

      <div class="col-4 mx-auto" @enterAnimation>
        <div class="card text-center mb-5">
          <div class="card-body p-4" [class.flash]="isLoading">
            <h5 class="card-title text-white mb-3">Wallet Balance</h5>
            <h6 class="card-subtitle text-success mb-2">{{balance}} ETN</h6>
            <p class="card-text text-muted">Unlocked: {{balance_unlocked}} ETN</p>
          </div>
          <div class="card-footer bg-light">
            <div class="d-flex justify-content-between">
              <span [class.text-success]="(!isOffline) || (!isLoading)" [class.text-danger]="(isLoading) || (isOffline)">
                <i class="fas fa-plug mr-2"></i><span *ngIf="isOffline">Offline</span><span *ngIf="!isOffline">Online</span>
              </span>
              <span class="pointer text-primary" [class.text-success]="isLoading">
                <a (click)="getWalletBalance()"><i class="fas fa-sync-alt mr-2" [class.fa-spin]="isLoading"></i>Refresh</a>
              </span>
            </div>
          </div>
        </div>
        <div class="card text-center">
          <div class="card-body p-4" [class.flash]="isCopied">
            <h5 class="card-title text-white mb-3">Wallet Address</h5>
            <textarea class="w-100" [(ngModel)]="address" #inputTarget rows="3" placeholder="etnkGmQZG1c1g8nXSe9qR6foYDdZxySnNS8odiHtLuB8WqhGQHEcsv17rUUyiW8wnagTKkcw29gQyNPSHnprf8Nz7sYNs2Mf2g"></textarea> 
          </div>
          <div class="card-footer bg-light">
            <div class="d-flex justify-content-between">
              <span class="pointer text-primary" (click)="openVerticallyCentered(content)">
                <i class="fas fa-qrcode mr-2"></i>QR Code
              </span>
              <div class="pointer" [ngxClipboard]="inputTarget" (cbOnSuccess)="isCopied = true">
                <span class="text-primary" *ngIf="!isCopied">
                  <i class="fas fa-copy mr-2"></i>Copy
                </span>
                <span class="text-success" *ngIf="isCopied">
                    <i class="fas fa-check mr-2"></i>Copied
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-7 mx-auto">
        <div class="px-3 text-white" @stagger>
          <h2 class="card-text mb-4">
            Recent Transactions
            <a class="btn btn-sm btn-success float-right mt-2" routerLink="/transactions" role="button">Show All</a>
          </h2>
          <div class="list-group" *ngFor="let key of transactions" id="items">
            <a href="#" class="list-group-item list-group-item-action flex-column" [class.sent]="key.type == 'Sent'" [class.received]="key.type == 'Received'">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{key.type}}</h5>
                <h5 class="text-success">{{key.amount}} ETN</h5>
              </div>
              <small class="text-muted">TxHash: <a href="https://blockexplorer.electroneum.com/search?value={{key.txhash}}" target="_blank">{{key.txhash}}</a></small>
              <div class="d-flex w-100 justify-content-between mt-1">
                <span>{{key.date | amTimeAgo:true}} ago</span>
                <div>
                  <span class="badge px-2 py-1" [class.badge-danger]="key.status == 'Failed'" [class.badge-warning]="key.status == 'Pending'" [class.badge-success]="key.status == 'Completed'"><span class="text-uppercase">{{key.status}}</span></span>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Wallet QR Code</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="d-flex justify-content-center">
      <qrcode *ngIf="address" [qrdata]="address" [allowEmptyString]="true" [usesvg]="false" [colorlight]="'#fff'" [colordark]="'#444'" [size]="256" [level]="'M'"></qrcode>
      <h1 class="text-muted" *ngIf="!address">Wallet Offline</h1>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
  </div>
</ng-template>