.container-fluid {
  margin-top: -50px;
}

.pointer {
  cursor: pointer;
  
  &:hover {
    color: #23bee0 !important;
  }
}

.base {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3 cubic-bezier(0.25, 0.8, 0.25, 1);

  &:hover {
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
  }

  .card-header {
    font-size: 18px;
  }

  .card-text {
    font-size: 22px;
  }

}