<div class="container-fluid vh-center">
  <div class="content">

    <!-- Begin Page Content -->
    <div class="row mx-auto">
      <div class="col-12 p-4">
        <div class="d-flex justify-content-center">

          <!-- Form -->
          <div class="col-5 mb-3" @enterAnimation>
            <div class="card">
              <div class="card-header">
                Open Wallet
              </div>
              <div class="card-body p-4">
                <form [formGroup]="form" (ngSubmit)="submit(model)">
                  <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
                </form>
              </div>
              <div class="card-footer">
                <div class="d-flex justify-content-between">
                  <button class="btn btn-warning" role="button" routerLink="/wallet">Back</button>
                  <button class="btn btn-success" role="button" (click)="submit(model)">Open and continue</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
