<div class="container-fluid vh-center">
  <div class="content">

    <!-- Begin Page Content -->
    <div class="row mx-auto">
      <div class="col-12 p-4">
        <div class="d-flex justify-content-center">

          <!-- Form -->
          <div class="col-8" @enterAnimation>
            <div class="card base">
              <div class="card-body p-4">
                <div class="d-flex justify-content-start mb-3">
                  <div class="card-title">
                    <h2 class="text-dark">Welcome {{name}}</h2>
                    <h4 class="text-muted">Let's get you started with a wallet.</h4>
                  </div>
                </div>
   
                  <div class="card-deck text-center">
                    <div class="card">
                      <div class="card-body">
                        <i class="fas fa-3x fa-plus-square text-muted mb-3"></i>
                        <p class="card-text mb-4">Need a wallet? <br /> Create a new wallet</p>
                        <a routerLink="/wallet-create" class="btn btn-success btn-block">Create Wallet</a>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-body">
                        <i class="fas fa-3x fa-folder-open text-muted mb-3"></i>
                        <p class="card-text mb-4">Got a wallet? <br /> Open existing wallet</p>
                        <a routerLink="/wallet-open" class="btn btn-info btn-block">Open Wallet</a>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-body">
                        <i class="fas fa-3x fa-save text-muted mb-3"></i>
                        <p class="card-text mb-4">Lost a wallet? <br />Restore your wallet</p>
                        <a routerLink="/home" class="btn btn-secondary btn-block">Restore Wallet</a>
                      </div>
                    </div>
                  </div>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
