<div class="container-fluid vh-center">
  <div class="content">

    <!-- Begin Page Content -->
    <div class="row mx-auto">
      <div class="col-12">
        <div class="d-flex justify-content-center">

          <!-- Form -->
          <div class="col-5" @enterAnimation>
            <div class="card">
              <div class="card-body p-4">
                <div class="card-title mb-4">
                  <h4 class="text-muted">Open an exsiting wallet...</h4>
                </div>
                <form [formGroup]="form" (ngSubmit)="submit(model)">
                  <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
                </form>
                <div class="d-flex justify-content-between mt-3">
                  <button class="btn btn-warning" role="button" routerLink="/wallet">Back</button>
                  <button class="btn btn-success" role="button" (click)="submit(model)" [disabled]="form.invalid || isLoading">
                    <i class="fa fa-cog fa-spin" [hidden]="!isLoading"></i>
                    Open and continue
                  </button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
