<div class="container-fluid">
  <div class="content">

    <!-- Begin Page Content -->
    <div class="row mx-auto text-white">
      <div class="col-12 p-5">
        <div class="transactions" @enterAnimation>

          <input
            type="text"
            style="padding:8px;margin-bottom:10px;width:20%;"
            placeholder="Filter..."
            (keyup)="updateFilter($event)"
          />

          <ngx-datatable class="material expandable"
            style="min-height: 550px;"
            #myTransactions
            [rows]="transactions" 
            [columns]="columns" 
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="50"
            [scrollbarV]="true"
            [rowClass]="getRowClass"
            (page)="onPage($event)">

            <!-- Row Detail Template -->
            <ngx-datatable-row-detail [rowHeight]="98" #myDetailRow (toggle)="onDetailToggle($event)">
              <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                <div class="row-details text-muted px-3">
                  <dl class="row">
                    <dt class="col-sm-2">Payment ID:</dt>
                    <dd class="col-sm-10">{{row.payment_id}}</dd>
                    <dt class="col-sm-2">Transaction ID:</dt>
                    <dd class="col-sm-10"><a href="https://blockexplorer.electroneum.com/search?value={{row.txid}}" target="_blank">{{row.txid}}</a></dd>
                    <dt class="col-sm-2">Transaction Notes:</dt>
                    <dd class="col-sm-10" *ngIf="row.note">{{row.note}}</dd>
                    <dd class="col-sm-10" *ngIf="!row.note">Nothing enetered for this transaction.</dd>
                    <dt class="col-sm-2">Unlocked In:</dt>
                    <dd class="col-sm-10">{{row.unlock_time}}</dd>
                  </dl>
                </div>
              </ng-template>
            </ngx-datatable-row-detail>

            <!-- Column Templates -->
            <ngx-datatable-column
              [width]="40"
              [resizeable]="false"
              [sortable]="false"
              [draggable]="false"
              [canAutoResize]="false">
              <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                <a href="javascript:void(0)"
                  [class.datatable-icon-right]="!expanded"
                  [class.datatable-icon-down]="expanded"
                  title="Expand/Collapse Row"
                  (click)="toggleExpandRow(row)">
                </a>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Type">
              <ng-template let-value="value" ngx-datatable-cell-template>
                <span *ngIf="value == 'in'">Received</span>
                <span *ngIf="value == 'out'">Sent</span>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Amount">
              <ng-template let-value="value" ngx-datatable-cell-template>
                <strong>{{(value / 100).toFixed(2)}}</strong>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Fee">
              <ng-template let-value="value" ngx-datatable-cell-template>
                <strong>{{(value / 100).toFixed(2)}}</strong>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Height">
              <ng-template let-value="value" ngx-datatable-cell-template>
                <span>{{value}}</span>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Timestamp">
              <ng-template let-value="value" ngx-datatable-cell-template>
                <span>Added {{(value | amFromUnix) | amTimeAgo:true}} ago</span>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Status">
              <ng-template let-value="value" ngx-datatable-cell-template>
                <span class="badge px-2 py-1" [class.badge-info]="value == 'Pool'" [class.badge-danger]="value == 'Failed'" [class.badge-warning]="value == 'Pending'" [class.badge-success]="value == 'Completed'">
                  <span class="text-uppercase">{{value}}</span>
                </span>
              </ng-template>
            </ngx-datatable-column>

          </ngx-datatable>

        </div>
      </div>
    </div>

  </div>
</div>
