.pointer {
  cursor: pointer;
  
  &:hover {
    color: #23bee0 !important;
  }
}

.row-details {
  font-size: 14px;
}

.search {
  padding:8px;
  max-height: 40px;
  margin-bottom:20px;
  width:20%;
}