.transactions {
  height: 75vh;
  overflow-y: auto;
  margin-right: 5px;
}

.table {
 
  tbody {
    background: transparent;
    tr {
      background:#fff;
    }
    tr:hover {
      background: rgba($color: #fff, $alpha: 0.8)
    }
  }

  td, th {
    padding: 10px;
  }

  th.sent {
    border-left: 15px solid #0073dd;
  }
  
  th.received {
    border-left: 15px solid #18bc62;
  }
  
}