<div class="container-fluid">
  <div class="content text-white">

    <!-- Begin Page Content -->
    <div class="row mx-auto">
      <div class="col-12 p-4">
        <div class="transactions">
          <h3 class="mb-3">All Transactions</h3>
          <table class="table table-sm table-hover">
            <thead class="thead-light">
              <tr>
                <th scope="col">Type</th>
                <th scope="col">Amount</th>
                <th scope="col">TxHash</th>
                <th scope="col">Date</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let key of transactions">
                <th [class.text-info]="key.type == 'Sent'" [class.text-success]="key.type == 'Received'">{{key.type}}</th>
                <td><span class="font-weight-bold">{{key.amount}}</span> ETN</td>
                <td class="text-muted"><a href="https://blockexplorer.electroneum.com/search?value={{key.txhash}}" target="_blank">{{key.txhash}}</a></td>
                <td>{{key.type}} {{key.date | amTimeAgo:true}} ago</td>
                <td [class.text-danger]="key.status == 'Failed'" [class.text-warning]="key.status == 'Pending'" [class.text-success]="key.status == 'Completed'">{{key.status}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>
