/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */

//
// Color system
//

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$blue:    #23bee0;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #16aa58;
$teal:    #20bd73;
$cyan:    #17a2b8;

$theme-colors: (
  primary: $blue, // Denmin
  secondary: $teal, // French Blue
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $gray-200, // White Wash
  dark: $gray-700, // Gunmental
);

// 3rd party libraries
@import "~bootstrap/scss/bootstrap";

// Use Bootstrap defaults for other variables, imported here so we can access all app variables in one place when used
// in components.
@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";

@import "~@ng-select/ng-select/themes/default.theme.css";

/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: url(assets/default.gif) repeat 0 0;
  background-color: rgba(14, 41, 66, 0.8);
  animation: 30s linear 0s normal none infinite animate;
  color: $gray-700;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(19, 32, 44, 0.5), rgba(14, 41, 66, 0.4));
  }
}

.container-fluid {
  padding-top: 90px;
}

.vh-center {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
}

select option {
  color: #212529;
}

.transactions {
  .dataTables_length, 
  .dataTables_filter,
  .dataTables_info,
  .dataTables_processing,
  .dataTables_paginate {
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    color: #fff !important;
  }

  .dataTables_wrapper {
    .dataTables_paginate .paginate_button {
      padding: 0.1em 0.5em !important;
    }
    input, button, select, optgroup, .paginate_button {
      height: 30px;
      background: transparent;
      color: #fff;
      padding: 5px;
      border: 1px solid #fff;
    }
  }
}

@keyframes animate {
  from { background-position: 0 0; }
  to { background-position: 500px 0; }
}
