/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */

// 3rd party libraries
@import "~bootstrap/scss/bootstrap";

// Use Bootstrap defaults for other variables, imported here so we can access all app variables in one place when used
// in components.
@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";

/* You can add global styles to this file, and also import other style files */
html, body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(assets/default.gif) repeat 0 0;
  background-color: #091b26;
  animation: 30s linear 0s normal none infinite animate;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(19, 32, 44, 0.8), rgba(14, 41, 66, 0.4));
  }

  .content {
    margin: auto;
    padding-top: 90px;
    overflow: hidden;
    z-index: 1;
  }
}