.card {
  background: rgba(255, 255, 255, 0.12);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3 cubic-bezier(0.25, 0.8, 0.25, 1);

  &:hover {
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
  }

  .card-body {
    min-height: 215px;

    .card-title {
      font-size: 1.5rem;
    }

    .card-subtitle {
      font-size: 3.4rem;
    }

    .card-text {
      font-size: 1.3rem;
    }

  }

}

textarea {
  width: 100%;
  padding: 15px;
  color: #fff;
  background: transparent;
  border: 2px dashed #ccc;
}
textarea::placeholder {
  color: rgba(204, 204, 204, 0.3);  
}

.list-group-item {
  background: rgba(255, 255, 255, 0.95);
  margin-bottom: 18px;
}

.list-group-item.sent {
  border-left: 10px solid #17a2b8;
}

.list-group-item.received {
  border-left: 10px solid #18bc62;
}

.pointer {
  cursor: pointer;
  
  &:hover {
    color: #23bee0 !important;
    text-decoration: underline;
  }
}

/* Flash class and keyframe animation */
.flash{
	animation: flash linear 2s infinite;
}

@keyframes flash {
  0% { opacity: 1; }
  50% { opacity: .5; }
	100% { opacity: 1; }
}