<div class="container-fluid vh-center">
  <div class="content">

    <!-- Begin Page Content -->
    <div class="row mx-auto">
      <div class="col-12">
        <div class="d-flex justify-content-center">

          <!-- Form -->
          <div class="col-5" @enterAnimation>
            <div class="card">
              <div class="card-header text-muted">
                Application Settings
              </div>
              <div class="card-body">
                <form [formGroup]="form" (ngSubmit)="submit(model)">
                  <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
                </form>
              </div>
              <div class="card-footer">
                <div class="d-flex justify-content-between">
                  <button class="btn btn-danger" role="button" routerLink="/login">Back</button>
                  <button class="btn btn-success" role="button" (click)="submit(model)" [disabled]="form.invalid || isLoading">
                    <i class="fa fa-cog fa-spin mr-2" [hidden]="!isLoading"></i>Continue
                  </button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
